* {
	box-sizing: border-box;
}


:root {
	/* COLORS */
	--white: #e9e9e9;
	--blueLink: #122ac2;
	--blue: #100CE0;
	--lightblue: #008997;

	/* RADII */
	--button-radius: 0.7rem;

	/* SIZES */
	--max-width: 758px;
	--max-height: 520px;

	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
	align-items: center;
	background-color: var(--white);
	background: url("industria.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	height: 100vh;
	place-items: center;
	overflow: hidden;
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(180deg, rgb(9 42 127 / 87%) -21.89%, rgba(13, 56, 116, 0.52) 100%);
	height: 150vh;
}

a {
	color: var(--blueLink);
	text-decoration: none;
}

.fixed__title {
	font-size: 1.55em;
	text-align: center;
}

.form__title {
	font-weight: 300;
	margin: 0;
	margin-bottom: 1.25rem;
}

.link {
	color: var(--blueLink);
	font-size: 0.9rem;
	margin: 1rem 0;
	text-decoration: none;
	text-align: left;
}

.container {
	background-color: var(--white);
	border-radius: var(--button-radius);
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
	height: var(--max-height);
	max-width: var(--max-width);
	overflow: hidden;
	position: relative;
	width: 100%;
}

.container__form {
	height: 100%;
	position: absolute;
	top: 0;
	transition: all 0.6s ease-in-out;
}

.container--signin {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-painel-active .container--signin {
	transform: translateX(100%);
}

.container--signup {
	left: 0;
	opacity: 0;
	width: 50%;
	z-index: 1;
}

.container.right-painel-active .container--signup {
	animation: show 0.6s;
	opacity: 1;
	transform: translateX(100%);
	z-index: 5;
}

.container--signup,
.form-step {
	left: 0;
	opacity: 0;
	width: 50%;
	z-index: 1;
	position: absolute;
	top: 0;
}

.container.right-painel-active .container--signin {
	display: none;
}

.container.right-painel-active .container--signup {
	width: 50%;
	transform: translateX(100%);
}

.container.right-painel-active .form-step {
	display: block;
	opacity: 1;
	position: absolute;
	left: 0;
	width: 100%;
	transform: translateX(0%);
	z-index: 5;
	animation: none;
	height: 100%;
}

.form-step {
	display: none;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: -1;
	left: 100%;
}

.container__overlay {
	height: 100%;
	left: 50%;
	overflow: hidden;
	position: absolute;
	top: 0;
	transition: transform 0.6s ease-in-out;
	width: 50%;
	z-index: 100;
}

.container.right-painel-active .container__overlay {
	transform: translateX(-100%);
}

.overlay {
	background-color: var(--lightblue);
	background: url("industria.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	left: -100%;
	position: relative;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 200%;
}

.container.right-painel-active .overlay {
	transform: translateX(50%);
}

.overlay__panel {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	position: absolute;
	text-align: center;
	top: 0;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 50%;
}

.overlay--left {
	transform: translateX(-20%);
}

.container.right-painel-active .overlay--left {
	transform: translateX(0);
}

.overlay--right {
	right: 0;
	transform: translateX(0);
}

.container.right-painel-active .overlay--right {
	transform: translateX(20%);
}

.btn {
	background-color: var(--blue);
	border-radius: 10px;
	border: 1px solid var(--blue);
	color: var(--white);
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 4rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.buttonsForm {
	display: flex;
	width: 100%;
	gap: 10px;
	flex-direction: column;
	box-sizing: content-box;
	margin-top: 1.5rem;
}

.form>.btn {
	margin-top: 1.5rem;
}

.btn:active {
	transform: scale(0.95);
}

.btn:focus {
	outline: none;
}

.form {
	background-color: var(--white);
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 3rem;
	height: 100%;
	text-align: center;
}

.input {
	background-color: #fff;
	border: none;
	padding: 0.9rem 0.9rem;
	margin: 0.5rem 0;
	width: 100%;
	border-radius: 4px;
}

@keyframes show {

	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}

.signIn__mob,
.signUp__mob {
	display: none;
}


.form-step select {
	width: 100%;
	padding: 10px;
	font-size: 0.9rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 5px;
	box-sizing: border-box;
	;
}


.form-step label {
	font-size: 0.9rem;
	color: #333;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	width: 275px;
	text-align: left;
}

.form-step select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-left: 10px;
	background: url("arrow-down-icon.png") no-repeat right;
	background-size: 25px;
	background-position: calc(100% - 10px) center;
}

#segType,
#secondSeg,
#thridSeg,
#terType {
	display: none;
}

.form-step select {
	padding-right: 10px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input#state-select-selectized {
	width: 100% !important;
	padding-left: 10px !important;
	height: 25px;
}

input[type='select-multiple']::placeholder {
	position: relative;
	left: -5px;
}

.form-content {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 260px;
	padding: 5px;
}

.selects {
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 5px 0 5px;
	max-height: 260px;
}


.form-step {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.form {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}


.form-step h2 {
	font-weight: bold;
}

.selectize-control.input.demo-default.multi {
	box-sizing: content-box;
	padding: 0;
}

.selectize-input.items.not-full.has-options {
	border: none;
	box-sizing: border-box;
}

.selectize-control .selectize-input {
	height: auto;
	font-size: 14px;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 8px 12px;
}

.selectize-dropdown,
.selectize-dropdown-content {
	width: 100%;
	/* Isso ajuda a assegurar que o dropdown do select seja do mesmo tamanho que o selectize-input */
}

.selectize-input {
	padding-left: 8px !important;
	/* Reduz o padding à esquerda conforme necessário */
}



@media only screen and (max-width: 1024px) {
	.form__title__login {
		font-size: 2em;
	}

	.link {
		color: var(--blueLink);
		font-size: 0.9rem;
		margin: 1.5rem 0;
		text-decoration: none;
	}
}


@media only screen and (max-width: 768px) {
	.link {
		color: var(--blueLink);
		font-size: 0.9rem;
		margin: 1.5rem 0;
		text-decoration: none;
	}

	.signUpType {
		width: 80%;
		margin: 0 auto;
	}

}



@media only screen and (max-width: 765px) {
	body {
		height: 95vh;
	}

	.container.right-painel-active .container--signup {
		width: 100%;
		transform: unset;
	}

	.container.right-painel-active .container--signup {
		animation: show 0.6s;
		opacity: 1;
		transform: unset;
		z-index: 5;
	}

	.container__overlay {
		display: none;
	}

	.container--signin {
		width: 100%;
	}

	.fixed__title {
		font-size: 1.3em;
		text-align: center;
	}

	.form__title {
		margin-bottom: 0.5rem;
		font-size: 1.2em;
	}

	.form__title__login {
		font-size: 2em;
	}

	.form>.btn {
		margin-top: 0.6rem;
	}

	.btn {
		font-size: 0.76rem;
	}

	.signUpType {
		margin: 10px;
	}

	.signIn__mob,
	.signUp__mob {
		display: block;
		font-size: 1em;
		margin-bottom: 5px;
	}

	.link {
		color: var(--blueLink);
		font-size: 0.9rem;
		margin: 1rem 0 .1rem 0;
		text-decoration: none;
	}
}


@media only screen and (max-width: 415px) {
	.signUpType {
		margin: 10px -5px;
		width: 100%;
	}
}


@media only screen and (max-width: 390px) {
	.signUpType {
		margin: 10px -6px 10px;
		width: 283px;
	}

}

@media only screen and (max-width: 375px) {
	.signUpType {
		margin: 10px auto;
		width: 80%;
	}

}

@media only screen and (max-width: 360px) {
	.signUpType {
		margin: 10px auto;
		width: 90%;
	}

}